<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="plmOS.Model.Debug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <plmOS.Model.Debug.Properties.Settings>
            <setting name="SQLConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLVault" serializeAs="String">
                <value>c:\temp\SQLVault</value>
            </setting>
            <setting name="SharePointURL" serializeAs="String">
                <value />
            </setting>
            <setting name="SharePointUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SharePointPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SharePointCache" serializeAs="String">
                <value>c:\temp\SharePointCache</value>
            </setting>
        </plmOS.Model.Debug.Properties.Settings>
    </userSettings>
</configuration>